<!DOCTYPE html>
<html ng-app="application">

<head>
    <meta charset="utf-8">
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- bootstrap theme -->
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>

</head>

<body ng-controller="demoController as demo">
    <div class="container">
        <form class="form-horizontal" ng-submit="addData(datas)">
            <fieldset>
                <!-- Form Name -->
                <legend>Form Name</legend>
                <!-- Text input-->
                <div class="form-group">
                    <div>
                        <label class="col-md-4 control-label" for="textinput">Name</label>
                        <input type="text" ng-model="data.employee.name" name="textinput" id="textinput" class="form-control input-md">
                    </div>

                    <br>

                    <div>
                        <label class="col-md-4 control-label" for="textinput">Surname</label>
                        <input type="text" ng-model="data.employee.surname" name="textinput" id="textinput" class="form-control input-md">
                    </div>

                    <br>

                    <div>
                        <label class="col-md-4 control-label" for="textinput">Age</label>
                        <input type="text" ng-model="data2.text" name="textinput" id="textinput" class="form-control input-md">
                    </div>

                    <br>

                    <div>
                        <form action="/action_page.php">
                            <label class="col-md-4 control-label" for="textinput">B.Date</label>
                            <input type="date" ng-model="data3.text" name="bday" id="textinput" class="form-control input-md">
                        </form>
                    </div>
                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="singlebutton"></label>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-primary">Show</button>
                        </div>
                    </div>
            </fieldset>
        </form>

        <div class="list-group">
            <div class="list-group-item clearfix" ng-repeat="data in datas">
                {{data}}
                <h3>Name : {{data1.text}}</h3>
                <h3>Surname : {{data1.text}}</h3>
                <h3>Age : {{data2.text}}</h3>
                <h3>B.Date : {{data3.text}}</h3>
            </div>
        </div>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="js/lib/jquery.min.js"></script>
        <!-- Bootstrap JavaScript -->
        <script src="js/lib/bootstrap.min.js"></script>
        <!-- AngularJS JavaScript -->
        <script src="js/lib/angular.min.js"></script>
        <script src="data.js"></script>
</body>

</html>